h1{color:#0000FF;
    margin-left: 30px;
}
    
.Header{
        background: linear-gradient(to right, yellow, red);
        display:flex;
        justify-content:space-between; 
   
        
        
}

.Grid{
        display:flex;
      flex-wrap:wrap;
     justify-content: space-evenly;
     color: #b0e0e6;
}
h2{text-align: center;
    color: #ffee00;
}

a:link{
    color:white
    }
    
    a:visited{
        color:#FFFFFF
    }
    
    .Item{
    position: relative;    
    }
    ol{text-align: left;
        color: #f5f5f5;}

        h3{text-align: center;
            
            color: #f5f5f5;}